.headContainer {
  display: flex;
  column-gap: 20px;
  margin: 5px 0;
}

.addr {
  cursor: pointer;
  align-self: center;
  transition: color linear 0.1s;
  font-size: 15px;
  font-family: monospace;
  &:hover {
    color: white;
  }
  &:active {
    color: grey;
  }
}
